@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
.p-font{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.h-font{
    font-family: 'Acme', sans-serif;   
}

/* Tailwind Custom Utility */
.no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  @layer base {
  :root {
        --radius: 0.5rem;
    }
}
  